%h2 What is this?

%p A lot of people seem to have hated the year 2008. I certainly have. Part good riddance, part silly, all catharsis - fuckyou2008.com was built in a couple of days for the hell of it. And as an exploration of some technologies I&rsquo;ve not spent as much time with as I wanted too lately.

%p It gathers up and displays tweets that contain the phrases:
%ul
  %li &ldquo;Fuck 2008&rdquo;,
  %li &ldquo;Fuck you 2008&rdquo;, and
  %li &ldquo;2008 sucks&rdquo;.
  

