%h2 Colophon

%p 
  Details on the specifics of construction will follow shortly, but first, as with all my projects, there are a bunch of people who made it - you know -
  %em possible.

%h3 Thanks

%p Thanks to <a href="http://scenariogirl.com/">Lisa</a> for considering this a constructive use of my time and encouraging me to just crank it out.

%p Thanks to the insanely patient <a href="http://germanforblack.com/">Ben Schwarz</a>, not only for his <a href="http://github.com/benschwarz/passenger-stack/">awesome set of Sprinkle scripts</a>, but for jumping on IM to help me run through them and school me in all the new things I&rsquo;d never done to a server before.

%p Thanks to the stalwart server god, <a href="http://lstoll.net/">Lincoln Stoll</a>, for offering help when he heard me bitching on Twitter and then responding promptly with all kinds of helpful stuff, including sample snippets of deploy.rb files, despite being in the midst of well-deserved holidays. (Somebody hire that man, you won&rsquo;t regret it)

%p Thanks to the incredibly talented <a href="http://c41.com.au">Pete Ottery</a> for jumping forward with a crazy fun logo that really fit the mood.

%p And thanks to <a href="http://rubyonrails.com.au">my local posse of Ruby legends</a> for teaching me not to fear the weird shit and just get on with building things you love.

%h3 Code

%p The tiny skerricks of code that run this are living right where they should be - <a href="http://github.com/lachlanhardy/fu2008">on GitHub</a>. Go take a look, have a play, fork it, bag it, enjoy it. Then let me know, so I can make it better next time.
