!!! strict
%html
  %head
    %title FU2008  
  %body
        
    %h1 Fuck you, 2008!
    
    %ul#results
      - @results.each do|result|
        %li 
          = result["text"]
    
  / reinvigorate tracking code
  %script{ :type => "text/javascript",  :src => "http://include.reinvigorate.net/re_.js"}
  %script{ :type => "text/javascript"} re_("m0zu4-752765508c");
  
  / The Google sees all, knows all
  :plain
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-196032-6");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
