/****
Fuck You, 2008!
http://fuckyou2008.com
20081230

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
- =Structure
	-- =Main Content
		 --- =Content
	-- =Footer
- =JS Enabled

****/


/* - =Generic Rules - */
    img {border: none;}

	/* -- =Generic Text -- */

		/* --- =Links --- */
		a:link {color: #ccc;}
		a:visited {color: #fff;}
		a:hover, a:active, a:focus {color: #f03e00; text-decoration: none;}

		
		/* --- =Headings --- */
		h1, h2, h3, h4, h5, h6 {font-family: Futura, "Franklin Gothic Medium", Calibri, "URW Gothic L", Helvetica, Arial, sans-serif; font-weight: 300; margin: 0 0 0.5em;}
		h1,
		body.home #content h2 {font-size: 2.572em;}
		h2 {font-size: 1.714em;}
		h3 {font-size: 1.45em;}
    	body.home h3,
    	body.event h2.date {font-size: 1.143em;}	
/*    h4 {font-size: 1.4em;}
    h5 {font-size: 1.2em;}
    h6 {font-size: 1.1em;}*/
		
/*      #wrapper p.title {background: #0e0e0e; color: #666; font-size: 1.5em; font-weight: 300;}
            #wrapper p.title strong {background: #0e0e0e; color: #fff; font-weight: 300;}*/
		
		/* --- =Body Text --- */
/*    #maincontent p,
    #maincontent li,
    #maincontent ol,
    #maincontent ul {margin: 0 0 1em 0;}
    #maincontent ul {}
      #maincontent ul li {list-style-position: outside; list-style-type: disc; margin: 0 0 0.5em 1em;}
    #maincontent ol {}
      #maincontent ol li {list-style-position: outside; list-style-type: decimal; margin: 0 0 0.5em 1.4em;}  
    
    #maincontent strong {font-weight: 700;}
    #maincontent em {font-style: italic;}
    
    #content p {font-size: 1.143em; line-height: 1.5; margin: 0 0 1em 0;}
            
        .amp {background: #0d0e0e; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}*/  


/* - =Structure - */
body {background: #0f0f0f; color: #fefefe; font: 62.5%/1.3 "Trebuchet MS", Arial, Helvetica, sans-serif;}

#wrapper {background: #fff; color: #000; font-size: 2em; margin: 0 auto 0 auto; width: 60em;}
    
    #banner {background: #fff url('images/fuck-you-2008-logo.gif') no-repeat 0 0; float: left; padding: 2em 0 4em 0; width: 440px;}
        #banner h1 {margin: 0; text-indent: -9999px;}
            #banner h1 a {display: block; min-height: 750px; }

#page {background: #0f0f0f; color: #fefefe; margin: 0 0 0 440px; padding: 2em 1em 4em 1em; position: relative;}
    #page ul {width: 34em;}
        #page ul li {margin: 0 0 1em 0;}
