/****
Fuck You, 2008!
http://fuckyou2008.com
20081230

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
- =Structure
	-- =Main Content
		 --- =Content
	-- =Footer
- =JS Enabled

****/


/* - =Generic Rules - */
    img {border: none;}

	/* -- =Generic Text -- */

		/* --- =Links --- */
		a:link {color: #000;}
		a:visited {color: #333;}
		a:hover, a:active, a:focus {color: #c00; cursor: url('/images/finger.cur');}

		
		/* --- =Headings --- */
		h1, h2, h3, h4, h5, h6 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; margin: 0 0 0.5em;}
		h1,
		body.home #content h2 {font-size: 2.572em;}
		h2 {font-size: 1.714em;}
		h3 {font-size: 1.45em;}
    	body.home h3,
    	body.event h2.date {font-size: 1.143em;}	
 


/* - =Structure - */
body {background: #0f0f0f; color: #fefefe; font: 62.5%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;}

#wrapper {background: #fff; color: #000; font-size: 1.6em; margin: 0 auto 0 auto; position: relative; width: 70em;}
    
    #banner {background: #fff url('images/fuck-you-2008-logo.gif') no-repeat 0 0; float: left; padding: 2em 0 4em 0; width: 440px;}
        #banner h1 {margin: 0; text-indent: -9999px;}
            #banner h1 a {display: block; min-height: 750px;}
        
        #banner p {font-size: 0.9em; margin: 0 auto 1em auto; width: 380px;}
            #banner p em {font-style: italic;}
            
    #footer {bottom: 1em; font-size: 0.8em; font-style: italic; left: 30px; position: absolute; width: 380px;}
    
    #page {background: #0f0f0f; color: #fefefe; margin: 0 0 0 440px; min-height: 60em; padding: 2em 1em 4em 1em; position: relative;}
        #page ul {width: 34em;}
            #page ul li {font-size: 1.6em; margin: 0 1em 5em 1em;}
                #page ul li strong,
                #page ul li em {background: #0f0f0f; color: #c00; font-size: 1.2em; font-weight: 700;}
                
                #page ul li em {color: gold;}
                
                #page p {margin: 0 0 1em 0;}
                #page a:link {color: #fff;}
                #page a:visited {color: #ddd;}
                #page a:hover, 
                #page a:active, 
                #page a:focus {color: #c00;}
            
